.navBarTM {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 80px;
}

.linkTechM {
    width: 40px; /* Ajusta según el tamaño deseado */
    height: 40px; /* Ajusta según el tamaño deseado */
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #fff;
    border-radius: 50%; /* Esto hace que el enlace sea una circunferencia */
    text-decoration: none;
    color: #fff; /* Color del texto */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para cambios de color */
    font-family: "Bellefair", serif;
}

.linkTechM.selected {
    background-color: #FFF; /* Color blanco para el enlace seleccionado */
    color: #000; /* Color del texto del enlace seleccionado */
}
