.navBarCM{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 120px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.linksCrewM{
    width: 12px;
    height: 12px;
    background-color: #666;
    border-radius: 50%;
    display: inline-block;
}

.linksCrewM.selected {
    background-color: #FFF; /* Color blanco para el enlace seleccionado */
}
